.app-nav-ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
  padding: 0;
}

.app-nav-link {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.app-nav-user {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  height: 50px;
}
