<ul class="app-nav-ul">
  <li>
    <a class="app-nav-link" routerLink="" routerActive="active-link">Home</a>
  </li>
  <li>
    <a class="app-nav-link" routerLink="login" routerActive="active-link"
      >Login</a
    >
  </li>
  <li>
    <a class="app-nav-link" routerLink="info" routerActive="active-link"
      >Info</a
    >
  </li>
</ul>
<div *ngIf="user; else loginBlock" class="app-nav-user">
  <p>{{ username }}</p>
  <button (click)="onLogOut()">Log out</button>
</div>
<ng-template #loginBlock>
  <div class="app-nav-user">
    <button (click)="onLogIn()">Log in</button>
  </div>
</ng-template>
