.list-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 250px;

  p {
    margin: 16px auto;
    color: gray;
  }

  ul {
    padding: 0;
  }
}

.list-title {
  margin: 16px auto;
}
