.list-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  align-items: flex-start;
  width: 800px;

  .list-empty {
    margin: 16px auto;
    color: gray;
  }

  .list-ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}

.list-title {
  margin: 16px auto;
}
