<form
  class="list-tool-form"
  #form="ngForm"
  novalidate
  (submit)="onFormSubmit(form)"
>
  <select
    [class]="['list-tool-select', status]"
    name="status"
    [(ngModel)]="status"
  >
    <option [class]="Status.Common" [value]="Status.Common">
      {{ Status.Common }}
    </option>
    <option [class]="Status.Important" [value]="Status.Important">
      {{ Status.Important }}
    </option>
    <option [class]="Status.Completed" [value]="Status.Completed">
      {{ Status.Completed }}
    </option>
  </select>
  <input
    class="form-input-task"
    name="title"
    type="text"
    placeholder="new task"
    ngModel
  />
  <button class="form-submit-button" type="submit">Add</button>
</form>
