.list-tool-form {
  margin-top: 16px;
  align-items: stretch;
  display: flex;
  width: 800px;

  .list-tool-select {
    font-style: italic;
    border: none;
    cursor: pointer;
    background-color: #1b1b1b;
  }

  .form-input-task {
    flex: 1;
    height: 24px;
    padding: 1px 4px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid gray;

    &:focus {
      outline: none;
    }
  }

  .form-submit-button {
    cursor: pointer;
    border: none;
    padding: 0;
    height: 24px;
    padding: 0 0.5rem;
    background-color: #274abd;
    color: #ffffff;
  }

  .common {
    color: lightblue;
  }

  .important {
    color: lightcoral;
  }

  .completed {
    color: lightgray;
  }
}
