.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #274abd;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
