<div class="search-container">
  <input
    class="search"
    type="search"
    placeholder="search tasks"
    [(ngModel)]="searchValue"
    (change)="onChange(searchValue, status)"
  />
  <fieldset class="filter" (change)="onChange(searchValue, status)">
    <label
      *ngFor="let currentStatus of Status | keyvalue"
      [class]="['filter-label', currentStatus.value]"
    >
      <input
        type="radio"
        name="status"
        [value]="currentStatus.value"
        [(ngModel)]="status"
      />
      {{ currentStatus.value }}
    </label>
  </fieldset>
</div>
