.search-container {
  display: flex;
  width: 800px;
  justify-content: space-between;
  gap: 1rem;

  .search {
    flex: 1;
    height: 24px;
    padding: 1px 4px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 1px solid gray;
    margin-bottom: 4px;

    &:focus {
      outline: none;
    }
  }

  .filter {
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-bottom: 16px;
    border: none;
    gap: 0.75rem;

    .filter-label {
      font-style: italic;
      opacity: 0.5;
      font-size: 0.9em;
      cursor: pointer;
      padding: 0 0.25rem;

      &:has(> input:checked) {
        opacity: 1;
      }

      input {
        display: none;
      }
    }

    .all {
      &:has(> input:checked) {
        border-bottom: 2px solid #ffffff;
      }
    }

    .common {
      color: lightblue;

      &:has(> input:checked) {
        border-bottom: 2px solid lightblue;
      }
    }

    .important {
      color: lightcoral;

      &:has(> input:checked) {
        border-bottom: 2px solid lightcoral;
      }
    }

    .completed {
      color: lightgray;

      &:has(> input:checked) {
        border-bottom: 2px solid lightgray;
      }
    }
  }
}
