<section class="info-content">
  <h1 class="info-heading">Todo App</h1>
  <h3>Что это?</h3>
  <p>
    Это приложение, позволяющее хранить и редактировать список дел. Здесь можно
    добавлять и удалять элементы списка, а также менять у них статус. Так же
    есть возможность поиска по названию и фильтрации по статусам элементов.
  </p>
  <h3>Зачем это?</h3>
  <p>
    Приложение разработано в рамках стажировки по Frontend-разработки на
    Angular. Является результатом выполнения домашних заданий.
  </p>
</section>
