.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .login-user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    .login-label {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;

      & > input {
        border: none;
        background-color: transparent;
        color: #ffffff;
        border-bottom: 1px solid gray;
        font-size: 14px;
      }
    }
  }
}

.logout-user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
